
:root{
    --var : black;
    --size : min(max(10vw, 100px), 130px);;
}

.bookinfopage{
    width : 100vw;
    height : 100vh;
    overflow : auto;
    overflow-x : hidden;
}
.bookinfo-header{
    display : flex;
    width : 100vw;
    height : var(--size);
    justify-content: space-around;   
    /* background-color: blue; */
    align-items: center;
}

.bookinfo-header h1{
    box-sizing: border-box;
    padding : 10px;
    margin : 0px;
    color : white;
    font-family: Italiana;
    font-weight : lighter;
    font-size : min(max(7vw, 20px), 115px);
}
.close-button{
    width : var(--size);
    height : 100%;
    border: none;
    outline : none;
    background-color: transparent;
    border-radius : 200px;
}

.close-button img{
    width : 100%;
    height : 100%;
}
.close-button:hover{
    cursor : pointer;
    background-color: rgba(83, 84, 110, 0.376);
}

.empty-placeholder{
    height : 100%;
    width : var(--size);
    /* background-color: blue; */

}
