.modal-container{
    height : max(min(45vw, 800px), 600px);
    width : max(min(40vw, 700px), 400px);
    position : fixed;
    background: linear-gradient(to bottom, #20242e, #363B42, #66707f);
    top : 50vh;
    left : 50vw;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius : 40px;
    overflow : hidden;
    display : flex;
    flex-direction : column;
}

.modal-container header{
    height : 20%;
    width : 100%;
    display : flex;
    justify-content: space-around;
    /* background-color: blue; */
    align-items: center;
    border-bottom : 5px solid #0d1115;
}

.modal-container h2{
    font-family : Italiana;
    color : white;
    font-size : max(3vw, 30px);
}
.modal-container header button{
    height : max(3vw,50px);
    width : max(3vw, 50px);
    background-color: transparent;
    border : none;
    z-index : 100;
    border-radius : 100px;
}

.modal-container img{
    height : 100%;
    width : 100%;
}
.modal-container main{
    height : 80%;
    overflow: auto;
}
.modal-container button:hover{
    cursor : pointer;
    background-color: rgb(123, 123, 123, 0.5);
}

.modal-container ul{
    display : flex;
    list-style-type : none;
    padding : 0px;
    flex-direction : column;
    height : auto;
    width  : 100%;
    align-items: center;
    gap : 20px;
}

.modal-container li{
    width : max(30vw, 300px);
    height : auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1D232A;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px;
}

.modal-container ul button{
    width : min(10vw, 75px);
    height : min(10vw, 75px);
    background-color: transparent;
    border: none;
    border-radius : 100%;
}
.modal-container ul button:hover{
    background-color: transparent;
}

.modal-container li p{
    width : 70%;
    /* background-color: aliceblue; */
    font-size : 1.25rem;
    color : white;
    font-family : Italiana;
}
